.image-wrapper {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
  
  .image-wrapper:hover img {
    filter: brightness(50%);
    transition: all 0.3s ease-in-out;
  }
  